/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f5f5f5;
  --color-dark-white: #bdbdbd;
  --color-pink: #e91e63;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #444649;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-blue: #5fa6e0;
  --color-blue: #4396da;
  --color-dark-blue: #267dc4;
  --color-indigo: #0b2236;
  --color-purple: #6a41e4;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 8px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
}

span {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Animation */

@keyframes navSlideIn {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}

@keyframes slideInFromRight {
  from {
    left: 20vw;
  }

  to {
    left: 0px;
  }
}

@keyframes slideInFromLeft {
  from {
    right: 20vw;
  }

  to {
    right: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sizeUp {
  0% {
    transform: scale(0.1);
    top: 20vw;
  }
  100% {
    transform: scale(1);
    top: 0vw;
  }
}

@keyframes graph50 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes graph60 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes graph70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes graph80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes graph90 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

/* Home */

#home {
  height: 100vh;
  background: url("images/home_background.png") center/cover no-repeat;
  text-align: center;
}

.home__title {
  color: var(--color-white);
  padding-top: 40vh;
  margin-top: 0px;
}

.home__contact {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 24px;
  padding: 12px 16px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
  transition: 500ms linear;
}

/* Navbar */

#navbar {
  display: flex;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  padding-left: 100px;
  border-bottom: solid 6px var(--color-light-blue);
}

#navbar.navbar--dark {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  animation: navSlideIn 500ms 1;
}

.navbar__menu {
  display: flex;
}

.menu__item {
  padding: 4px 12px;
  margin: 0 12px;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
}

.menu__item:hover {
  color: var(--color-pink);
  transition: 300ms linear;
}

.navbar__toggle-btn {
  position: relative;
  font-size: 32px;
  margin-top: 16px;
  color: var(--color-white);
  right: 30px;
  display: none;
}

/* About */

#about {
  position: relative;
  text-align: center;
  padding: 120px 0px;
}

.about__header {
  position: relative;
  opacity: 0;
}

.about__header--dark {
  opacity: 1;
  animation: slideInFromLeft 1s 1;
}

.header__underline {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  border-top: solid 5px var(--color-dark-grey);
}

.about__majors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.major {
  margin: 100px;
}

.major__icon {
  width: 65px;
  height: 100px;
  background-color: var(--color-light-blue);
  position: relative;
  opacity: 0;
}

.about__majors .major__title {
  opacity: 0;
}

.about__majors--dark .major__icon,
.about__majors--dark .major__title {
  animation-name: fadeIn;
  opacity: 1;
}

.major__icon:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 25px solid var(--color-light-blue);
}
.major__icon:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -25px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 25px solid var(--color-light-blue);
}

.major__icon i {
  color: var(--color-white);
  line-height: 100px;
}

.major__title {
  margin-top: 12px;
}

.about__me {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.me__description {
  position: relative;
  opacity: 0;
  height: 415px;
  width: 500px;
  padding: 0px 24px;
}

.me__description--dark {
  opacity: 1;
  animation: slideInFromLeft 1s 1;
}

.me__description img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.me__skill {
  position: relative;
  height: 415px;
  width: 500px;
  margin-top: 20px;
  line-height: 32px;
  opacity: 0;
  padding: 0px 24px;
}

.me__skill--dark {
  opacity: 1;
  animation: slideInFromRight 1s 1;
}

.me__skill--dark #skill__HTML,
.me__skill--dark #skill__CSS {
  animation: graph90 2000ms 1;
}

.me__skill--dark #skill__Javascript {
  animation: graph80 2000ms 1;
}

.me__skill--dark #skill__Java,
.me__skill--dark #skill__React {
  animation: graph70 2000ms 1;
}

.me__skill--dark #skill__C {
  animation: graph60 2000ms 1;
}

.me__skill--dark #skill__Oracle {
  animation: graph50 2000ms 1;
}

.skill__bar {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  height: 32px;
  width: 500px;
  background-color: var(--color-light-white);
  margin-bottom: 12px;
}

.skill__value {
  height: 32px;
  background-color: var(--color-dark-blue);
}

.skill__name {
  position: absolute;
  height: 32px;
  width: 100px;
  background-color: var(--color-light-blue);
}

.skill__name h3 {
  margin: 0px;
  color: var(--color-white);
}

/* Project*/

#project {
  background-color: var(--color-light-white);
  width: 100%;
  text-align: center;
  padding: 120px 0px;
}

.project__header {
  position: relative;
  opacity: 0;
}

.project__header--dark {
  opacity: 1;
  animation: slideInFromRight 1s 1;
}

.project__majors {
  height: 62vh;
  width: 75vw;
  max-width: 75rem;
  background-color: white;
  padding: 3rem;
  margin: 2rem auto 2rem;
  border-radius: 1rem;
}

.major__header h2 {
  font-size: var(--font-medium);
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-black);
}

.major__info {
  display: flex;
  height: 90%;
  width: 100%;
  margin: 0px auto;
  /* min-width: 35rem; */
}

.major__image {
  width: 50%;
  margin-right: 3rem;
}

.major__description {
  width: calc(50% - 3rem);
  font-family: "Noto Sans KR", sans-serif;
  text-align: left;
  color: var(--color-black);
}

.major__description-main {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  font-size: 1rem;
}

.major__description-sub {
  display: flex;
  color: var(--color-black);
  margin: 10px 0px;
}

.description-label {
  font-size: 20px;
  width: 10rem;
  font-weight: 800;
  margin-left: 1rem;
}

.description-value {
  font-size: 16px;
}

/* Contact */

#contact {
  background-color: var(--color-indigo);
  text-align: center;
  padding: 80px 0px;
}

.contact__header {
  position: relative;
  opacity: 0;
}

.contact__header--dark {
  opacity: 1;
  animation: slideInFromLeft 1s 1;
}

.contact__info {
  position: relative;
  opacity: 0;
}
.contact__info--dark {
  opacity: 1;
  animation: sizeUp 1s 1;
}

.contact__header h1 {
  color: var(--color-white);
}

.contact__header .header__underline {
  border-color: var(--color-white);
}

#contact h2 {
  color: var(--color-white);
  margin: 100px 0px;
}

.contact__page {
  display: flex;
  justify-content: center;
}

.contact__page i {
  margin: 30px;
  font-size: 80px;
}

.contact__page i:hover {
  color: var(--color-dark-pink);
  transition: 300ms linear;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: all;
}

/* medium screen*/
@media screen and (max-width: 956px) {
  h1 {
    font-size: var(--font-medium);
  }

  h2 {
    font-size: var(--font-regular);
  }

  #about {
    margin-top: 100px;
    padding: 60px 0px;
  }

  .about__majors {
    flex-wrap: wrap;
  }

  .about__majors .major {
    flex: 1 1 41%;
    margin: 30px auto;
  }

  .about__majors .major__icon {
    margin: 0px auto;
  }

  .me__description,
  .me__skill {
    width: 100%;
  }

  .skill__bar {
    margin: 0px auto 12px auto;
    width: 80%;
  }

  .about__me {
    flex-direction: column;
    justify-content: center;
  }

  #project {
    padding: 60px 0px;
  }

  .project__majors {
    flex-direction: column;
    justify-content: center;
  }

  .project__majors .major {
    height: 60vw;
    width: 60vw;
    margin: 20px auto;
  }

  #contact h2 {
    margin: 50px 0px;
  }

  .contact__page i {
    margin: 20px;
    font-size: 40px;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 40px;
  }
}

/* small screen*/
@media screen and (max-width: 724px) {
  .home__title {
    font-size: 4vw;
  }

  .home__contact {
    font-size: var(--font-small);
    padding: 6px 8px;
  }

  #navbar {
    position: relative;
    flex-direction: clumn;
    align-items: flex-start;
    padding: 0px;
    height: 50px;
    width: 100%;
  }
  .navbar__toggle-btn {
    display: block;
    position: absolute;
    top: -10px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: var(--color-dark-blue);
    padding-bottom: 20px;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .skill__bar {
    height: 24px;
  }

  .skill__value {
    height: 24px;
  }

  .skill__name {
    height: 24px;
  }

  .skill__name h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .skill__bar span {
    display: none;
    font-size: 8px;
  }

  .major__button {
    margin: 1vh 24px;
  }

  .arrow-up {
    width: 40px;
    height: 40px;
    font-size: 30px;
  }
}
